h1, h2, h3, h4, h5, h6{
  font-family: sans-serif;
  color: blue;
}

table th{
  font-weight: bold;
  color: blue;
}
table, th, td{
  border: 1px solid blue;
  border-collapse: collapse;
  text-align: center;

}

ul{
  list-style-type: square;
}

.hyperLink:link{
  text-decoration: none;
}

.hyperLink:hover{
  background-color: orange;

}

blockquote{
  background-color: blue;
  color: orange;
}

#teamRoster li:first-child ul{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#teamRoster li:last-child ul{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#teamRoster img{
  display: none;
}

#checkbox-grid{
  list-style: none;
}

ol li:first-child{
  font-weight: bold;
}

tr:nth-child(even){
  background-color: orange;
}
